@use "../base/variables" as variables;

.contact-wrapper,
.reset-link-container {
  display: flex;
  flex-direction: column;
}

.contact-wrapper {
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.contact-form-wrapper {
  width: 90%;
  max-width: 56ch;
  margin: 0 auto;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-2xl);
}

.contact-form-description {
  margin-top: 10px;
  font-size: 0.9em;
}

.contact-form-embed {
  display: block;
  width: 100%;
  max-width: 640px;
  border: none;
}

.reset-link-container {
  padding: 16px;
  width: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 500px;

  p {
    font-size: 12px;
    color: variables.$text-main;
    text-align: left;
  }
}