{% extends "base.html" %}
{% block title %}お問い合わせ{% endblock %}

{% block contents %}
{% load static %}
<main class="page-main">
    <div class="contact-form-wrapper">
        <h2>お問い合わせフォーム</h2>
        <p class="contact-blank">返信は通常3日以内に行うよう努めておりますが、個人で運営しているため、お時間をいただく場合がございます。何卒ご理解のほどよろしくお願いいたします。</p>
        <form class="contact-foem" method="post">
            {% csrf_token %}
            <div class="contact-form-content">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="contact-form-content">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="contact-form-content">
                <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                {{ form.subject }}
            </div>
            <div class="contact-form-content">
                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                {{ form.message }}
            </div>
            <button class="contact-btn" type="submit">送信</button>
        </form>
    </div>
</main>

{% endblock %}