[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ratelimit = "*"
python-dotenv = "*"
psycopg = "*"
gunicorn = "*"
whitenoise = "*"
django-ckeditor-5 = "*"
django-sass-processor = "*"

[dev-packages]

[requires]
python_version = "3.8"
