.checklist-view-page{
    width: 90%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-bottom: 120px;
}