@use "variables";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mt-4 {
  margin-top: 100px;
  text-align: right;
}

.mt-4-1 {
  text-align: right;
}

.textarea-required-title {
  position: relative;

  &::after {
    content: "※必須";
    color: variables.$danger;
    font-size: 12px;
    position: absolute;
    top: -17px;
    right: 3px;
    pointer-events: none;
  }
}