{% extends "base.html" %}
{% block title %}しおり作成画面{% endblock %}

{% block contents %}
{% load static %}
<main class="page-main">
   <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> 
    <form class="create-form" method="post">
        {% csrf_token %}
      
        <!-- しおり基本情報 -->
        <div class="create-title-wrapper">
            <div class="create-title-wrapper-sub">
                <h2 class="create-title">しおりの作成</h2>
                <div>
                    <input class="input-title" type="text" name="title" placeholder="タイトル（例：沖縄旅行）" required>
                    <input class="input-title" type="text" name="subtitle" placeholder="サブタイトル（例：2泊3日の卒業旅行）">
                    <textarea class="input-description input-description-under" name="description" placeholder="概要（例：卒業旅行で沖縄に行きます！首里城や美ら海水族館を訪問予定！）"></textarea>
                </div>
            </div>
        </div>
        <div class="input-first-wrapper"> 
            <!-- 日付 + スケジュール -->
            <h3 class="input-item-title input-item-title-first"><i class="fa-solid fa-calendar-days"></i> スケジュール</h3>
            <p class="input-item-description">日付ごとにスケジュールを入力することで、旅程表を作成できます。入力された日付と時間は、しおりの作成後に自動で時系列順に整理されます。</p>
            <div id="dates-container">
            <div class="date-block">
                <div class="input-date">
                    <p class="input-day-number">DAY1</p>
                    <div class="input-date-flex">
                        <label class="input-date-label" for="input-date-label" placeholder="2025/01/01">日付：</label>
                        <input class="date-input-in" type="date" name="dates[0][date]" required>
                    </div>
                </div>
                <div class="schedules-container">
                    <div class="schedules-container-wrapper">
                        <div class="schedule-block">
                            <div class="input-start-end-time">
                                <label "input-time-label" for="input-date-label">開始時刻：</label>
                                <input type="time" class="time-input" placeholder="00:00" name="dates[0][schedules][0][start_time]" required>
                            </div>
                            <div class="input-start-end-time">
                                <label "input-time-label" for="input-date-label">終了時刻：</label>
                                <input type="time" class="time-input" name="dates[0][schedules][0][end_time]">
                            </div>
                            <input class="input-title" type="text" name="dates[0][schedules][0][title]" placeholder="タイトル (例：首里城で遊ぶ)">
                            <textarea class="input-description" name="dates[0][schedules][0][description]" placeholder="詳細 (例：公園内の龍潭を見る)"></textarea>
                            <input class="location-input" type="text" name="dates[0][schedules][0][location]" placeholder="場所名 (例：首里城公園)">
                            <input class="location-input" type="url" name="dates[0][schedules][0][location_url]" placeholder="位置情報URL (例：https://maps.app.goo.gl/yJqUXTNRwRkWvcKP6)">
                        </div>
                    </div>
                    <button type="button" class="add-schedule-btn" data-date-index="0"><i class="fa-solid fa-circle-plus"></i> 予定を追加</button>
                </div>
            </div>
            </div>
            <button type="button" id="add-date-btn"><i class="fa-solid fa-circle-plus"></i> 日付を追加</button>
        
            <!-- メモ -->
            <h3 class="input-item-title"><i class="fa-solid fa-clipboard"></i> メモ</h3>
            <p class="input-item-description">行きたいお店や覚えておきたいことなど、旅行に関するメモを自由に残すことができます。</p>
            <div id="memos-container">
            <div class="memo-block">
                <p class="memo-title-next">メモ1</p>
                <div class="memo-bloc-wrapper">
                <input class="input-title" type="text" name="memos[0][title]" placeholder="メモタイトル">
                <textarea class="input-description" name="memos[0][content]" placeholder="メモ詳細"></textarea>
                </div>
            </div>
            <button type="button" id="add-memo-btn"><i class="fa-solid fa-circle-plus"></i> メモを追加</button>
            </div>
        
            <!-- 持ち物 -->
            <h3 class="input-item-title"><i class="fa-solid fa-list-check"></i> 持ち物リスト</h3>
            <p class="input-item-description"> 旅行に必要な持ち物や欲しいお土産などを、チェックリスト形式で管理できます。</p>
            <div id="items-container">
            <div class="item-block">
                <p class="memo-title-next">リスト1</p>
                <div class="memo-bloc-wrapper">
                    <input class="input-title" type="text" name="items[0][title]" placeholder="持ち物タイトル">
                    <textarea class="input-description" name="items[0][detail]" placeholder="詳細"></textarea>
                </div>
            </div>
            <button type="button" id="add-item-btn"><i class="fa-solid fa-circle-plus"></i> リストを追加</button>
            </div>
        
            <!-- パスワード設定 -->
            <h3 class="input-item-title"><i class="fa-solid fa-key"></i> パスワード設定</h3>
            <p class="input-item-description">しおりの閲覧・編集にはパスワードを設定することができます。パスワードを設定しない場合は、誰でも自由に閲覧・編集が可能です。パスワードを忘れた際に再設定を行うには、あらかじめ再設定用メールアドレスの登録が必要です。</p>
            <div>
            <input class="input-password" type="password" name="view_password" placeholder="閲覧用パスワード(任意)">
            <input class="input-password" type="password" name="edit_password" placeholder="編集用パスワード(任意)">
            <input class="input-password input-password-last" type="email" name="reset_email" placeholder="再設定用メールアドレス(任意)">
            </div>
            <div class="cf-turnstile" data-sitekey="0x4AAAAAABg8TmGAOQbU-N_J"></div>
            <p class="input-user-agreement-check"><a href="{% url "tabisync:user_agreement"%}">利用規約<a>に同意して、</p>
            <button class="enter-input-btn" type="submit">作成する</button>
            <div class="precautions-area">
                <ul>
                    <li>自宅住所、電話番号、クレジットカード番号といった個人情報の記載はおやめください。</li>
                    <li>入力内容は個人を特定できない形で、AI学習や研究のために活用させていただくことがあります。</li>
                    <li>パスワードの再発行を希望される場合は、事前に再設定用のメールアドレスを登録している必要があります。未登録の場合は再発行できません。</li>
                </ul>
            </div>
        </div>
      </form>      
</main>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}



