{% extends "base.html" %}
{% block title %}編集パスワードを入力{% endblock %}

{% block contents %}
<main class="page-main">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> 
  <article class="privacy-policy">
    <form method="post" class="password-wrapper">
        {% csrf_token %}
        <p>編集パスワードを入力してください。</p>
        {% if error %}
          <p style="color:red;">{{ error }}</p>
        {% endif %}
        <div class="password-btn">
          <input type="password" name="password" required>
          <div class="cf-turnstile" data-sitekey="0x4AAAAAABg8TmGAOQbU-N_J"></div>
          <button type="submit">送信</button>
        </div>
    </form>
    {% if itinerary.reset_email %}
    <div class="reset-link-container">
    <p>※パスワードをお忘れの方は以下のボタンをクリックして再設定してください</p>
    <form method="post" action="{% url 'tabisync:send_reset_link' pk=itinerary.pk token=itinerary.token type='edit' %}">
        {% csrf_token %}
        <button type="submit" class="reset-link-btn">編集パスワードの再設定リンクを送る</button>
    </form>
        </div>
    {% else %}
    <div class="reset-link-container">
        <p>
        ※このしおりには再設定用のメールアドレスが設定されていないため、パスワードの再設定はできません。
        </p>
    </div>
    {% endif %}

  </article>
</main>
{% endblock %}