
{% extends "base.html" %}
{% block title %}プライバシーポリシー{% endblock %}

{% block contents %}
<main class="page-main">
  <article class="privacy-policy">
    <form method="post" class="password-wrapper">
        {% csrf_token %}
        <p>閲覧パスワードを入力してください。</p>
        {% if error %}
          <p style="color:red;">{{ error }}</p>
        {% endif %}
        <div class="password-btn">
          <input type="password" name="view_password" required>
          <button type="submit">送信</button>
        </div>
    </form>
  </article>
</main>
{% endblock %}