{% extends "base-noindex.html" %}
{% block title %}パスワード再設定{% endblock %}

{% block contents %}
<main class="page-main">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <article class="privacy-policy">
    <h1>パスワード再設定</h1>
    <form method="post">
    {% csrf_token %}
    <p>新しい{% if type == "edit" %}編集{% else %}閲覧{% endif %}パスワードを入力してください。</p>
    <input type="password" name="password" required>
    <button type="submit">再設定する</button>
    </form>
  </article>
</main>
{% endblock %}
