{% extends "base.html" %}
{% block title %}ホーム{% endblock %}

{% block contents %}
    <main class="page-main">
        <h1>しおり作成</h1>
        <form method="post">
        {% csrf_token %}
        
        <label>タイトル</label>
        {{ form.title }}
        
        <label>サブタイトル</label>
        {{ form.subtitle }}

        <h2>日程表</h2>
        <div id="schedules">
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class="schedule-form">
                {% if form.instance.pk %}
                <input type="checkbox" name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE"><label for="id_{{ form.prefix }}-DELETE">削除</label>
                {% else %}
                <span class="remove-schedule">×</span>
                {% endif %}
                <label>日付</label>
                {{ form.date }}
                <label>日時</label>
                {{ form.time }}
                <label>詳細</label>
                {{ form.detail }}
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-schedule">＋日程を追加</button>

        <h2>概要</h2>
        <label>概要のタイトル</label>
        {{ form.summary_title }}

        <label>概要詳細</label>
        {{ form.summary_detail }}

        <button type="submit">作成する</button>
        </form>
    </main>
{% endblock %}