{% extends "demo/v2_base.html" %}
{% block title %}沖縄旅行編集デモ{% endblock %}

{% block contents %}
<main class="content-main">
    <div class="edit-menu">
        <h2 class="edit-menu-title">しおり内容の編集</h2>
        <p class="edit-menu-description">デモページのため編集はできません。<br>「しおりを作成する」ボタンをクリックして、早速しおりを作成してみましょう！</p>
        <div class="edit-menu-buttons">
            <a class="edit-menu-button" href="{% url 'tabisync:create' %}">
                <i class="fa-solid fa-pen-to-square"></i>
                <div class="edit-menu-text">
                    <p class="edit-menu-text-title">しおりを作成する</p>
                    <p class="edit-menu-text-description">早速しおりを作成しましょう!</p>
                </div>
                <p>〉</p>
            </a>
        </div>
    </div>
</main>
{% endblock %}
